[Unit]
Description=poa blockscout service
After=network.target
[Service]
User=root
Group=root
WorkingDirectory={{ home }}/blockscout
Restart=on-failure
RestartSec=5
ExecStartPre=mix local.hex --force
ExecStart=mix phx.server
Type=simple
[Install]
WantedBy=multi-user.target
